# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage


# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Vite
.vite
# macOS system files
.DS_Store
.Trash/
.cache/
.swiftpm/
.viminfo
.zsh_history
.zsh_sessions/
.zshrc

# Node.js & npm
node_modules/
.npm/
.npmrc
.npm-global/

# VS Code & Editor Config
.vscode/
.idea/
*.swp

# Python & Docker
.python_history
.docker/

# Personal & OS Folders
Documents/
Downloads/
Library/
Music/
Pictures/
