# Dependencies
node_modules/
.pnp/
.pnp.js

# Build Output (Vite, Netlify)
dist/
.vite/
.vitepress/

# Environment Variables (Prevents API key leaks)
.env
.env.local
.env.development
.env.production
.env*.local

# Logs & Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.tsbuildinfo

# macOS System Files
.DS_Store
.Trash/
.cache/
.swiftpm/
.viminfo/
.zsh_history/
.zsh_sessions/
.zshrc/

# Python & Docker
.python_history/
.docker/

# Personal & OS Folders
Documents/
Downloads/
Library/
Music/
Pictures/

# Netlify Functions (Ignore only local builds, not actual functions)
.netlify/cache/